<header>
  <% if session[:id] %>
    <% user = User.find(session[:id]) %>
    <h3>You are logged in as <%= user.name %></h3>
    <div>
      <form method="post" action="/logout">
        <input type="submit" name="logout" value="Logout" />
      </form>
    </div>
  <% else %>
    <div><a href="/login"><input type="submit" name="login" value="Login" /></a> to post</div>
  <% end %>
</header>

<p>Never been here? <a href='/new_login'>Create</a> an account!</p>
<p class="logout">
  <a href="/new_song">Post a new song to the list</a>
</p>

<h1>Song List</h1>

<% @song_list.each do |song| %>
  <h3><a href='/show_song/<%= song['id'] %>'><%= song['title'] %></a></h3>
  <h4>Upvotes: <%= song['vote_count'] %></h4>
  <p>Posted by <%= song['author'] %> at <%= song['created_at'] %></p>
  <p><%= song['url'] %>
<% end %>
