<header>
  <% if @user %>
    <h3>You are logged in as <%= @user.name %></h3>
    <div>
      <form method="post" action="/logout">
        <input type="submit" name="logout" value="Logout" />
      </form>
    </div>
  <% else %>
    <div>
      <form method="get" action="/login">
        <input type="submit" name="login" value="Login" />
      </form>
    </div>
  <% end %>
</header>

<h1>Song List</h1>

<% @songs.each do |song| %>
  <h3><a href='/show_song/<%= song.id %>'><%= song.title %></a></h3>
  <p>Posted by <%= song.author %> at <%= song.created_at %></p>
  <p><%= song.url %>
<% end %>

<p><a href="/login">Login</a> to post</p>
<p>Never been here? <a href='/new_login'>Create</a> an account!</p>
<p class="logout">
  <a href="/new_song">Post a new song to the list</a>
</p>