<header>
  <% if session['id'] %>
    <% user = User.find(session['id']) %>
    <h3>You are logged in as <%= user.name %></h3>
  <% end %>
</header>

<h3><%= @song.title %></h3>
<form method="post" action="/upvote">
  <input type="hidden" name="id" value="<%= @song.id %>" />
  <input type="submit" name="upvote" value="Upvote" />
</form>
<div>
  <h4>Other songs posted by <%= @song.author %>:</h4>
  <% other_songs = Song.where(author: @song.author).where('id != ?', @song.id) %>
  <% if other_songs.empty? %>
    <p>This user hasn't posted any other songs </p>
  <% else %>
    <% other_songs.each do |song| %>
      <a href='/show_song/<%= song.id %>'><%= song.title %></a>
    <% end %>
  <% end %>
</div>

<p><a href="/">Back to Song List</a></p>